@import url(https://fonts.googleapis.com/css?family=Nunito);

body {
    background-color: #4F4557;
    font-family: 'Nunito';
    padding: 0;
    margin: 0;
}

section  {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    color: #F4EEE0;
}

h1 {
    text-align: center;
    color: #F4EEE0;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

